**/*.pyc
*.egg-info
.pytest_cache
.neurodamus-core
.tox
bbp_reductions
bluepy
BluePyOpt
circuit_neurons
circuits
neuron
neuron_reduce_bluepy
output
presentation
scripts
Sonata_example_by_Arseniy
tmp/*-list.txt
tools
venv
**/.git
**/.idea
**/x86_64**
